@{
    ViewData["Title"] = "The Joel Hilton Film Collection ";
}
<!--Use public int ? to make it so the value can be null (do this in your Model)-->
<div class="text-center">
    <h1 class="display-4">Welcome to Joel Hilton's Film Collection!</h1>
</div>

<div class="text-center">
    <h2>The man, the myth, the legend, <b>Joel Hilton:</b></h2>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Joel">
        <img src="~/img/JoelHiltonHeadshot.jpg" alt="Joel Hilton Headshot" />
    </a>
    <h3>Click the image above to go to the "Get to Know Joel" page</h3>
</div>

<div class="text-center">
    <a asp-controller="Home" asp-action="Collection">View Joel's Movie Collection</a>
</div>