@{
    ViewData["Title"] = "Get to know Joel";
}
<h1 style="text-align: center;">Get to know @ViewData["Title"]!</h1>

<div style="text-align: center;">
    <h4>Here is a link to <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a> (where he performs regularly)</h4>
    <h4>Here is a link to the <a href="https://baconsale.com/" target="_blank">Baconsale Podcast</a> site</h4>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/BaconSaleKate.jpg" height="500" />
    </a>
</div>

