@{
    ViewData["Title"] = "Share";
}
@model Application

<h1 style="text-align: center;">Submit movies for Joel to add to his collection!</h1>
<br />
<form style="max-width: 400px; margin: 0 auto;" method="post">
    <div style="margin-bottom: 10px;">
        <label asp-for="category" style="display: block;">Category:</label>
        <input asp-for="category" type="text" style="width: 100%;">
    </div>
    <div style="margin-bottom: 10px;">
        <label asp-for="title" style="display: block;">Title:</label>
        <input asp-for="title" type="text" style="width: 100%;">
    </div>
    <div style="margin-bottom: 10px;">
        <label asp-for="year" style="display: block;">Year:</label>
        <input asp-for="year" type="number" min="1900" max="2024" step="1" style="width: 100%;">
    </div>
    <div style="margin-bottom: 10px;">
        <label asp-for="director" style="display: block;">Director:</label>
        <input asp-for="director" type="text" style="width: 100%;">
    </div>
    <div style="margin-bottom: 10px;">
        <label asp-for="rating" style="display: block;">Rating:</label>
        <select asp-for="rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
    </div>
    <div style="margin-bottom: 10px;">
        <label asp-for="edited" style="display: block;">Was it Edited?</label>
        <select asp-for="edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div style="margin-bottom: 10px;">
        <label asp-for="lentTo" style="display: block;">Lent To:</label>
        <input asp-for="lentTo" type="text" style="width: 100%;">
    </div>
    <div style="margin-bottom: 10px;">
    <label asp-for="notes" style="display: block;">Notes:</label>
    <input asp-for="notes" type="text" style="width: 100%;" maxlength="25"></input>
    </div>

    <button type="submit" style="width: 100%;">Submit Movie</button>
</form>
