@{
    ViewData["Title"] = "Share";
}

@model Application

<h1 style="text-align: center;">Thanks for submitting "@Model.title" to the collection!</h1>
<br />
<h4 style="text-align: center;">Go back <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Share">HERE</a> to submit more movies!</h4>
